/* Import Google Font 'Inter' with various weights */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* Define Primary Color Variables */
:root {
  --primary-color: #007bff;
  --background-color: #a5a5a5;
  --text-color: #212529;
  --accent-color: #ff4500;
  --border-radius: 0.5rem;
}

/* Global Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffd3d3;
  /* Pale pink color of your choice */
  color: var(--text-color);
  line-height: 1.6;
}

/* Header Styles */
header {
  background-color: var(--primary-color);
  padding: 2rem 0;
  color: var(--background-color);
}

header h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

/* Centered Wrapper */
.wrapper {
  background-color: #b85885;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Search Element Customization */
.search-element .form-control {
  border: 2px solid var(--primary-color);
  color: var(--text-color);
}

.search-element .btn {
  background-color: var(--accent-color);
  color: white;
  transition: background-color 0.3s;
}

.search-element .btn:hover {
  background-color: rgba(255, 69, 0, 0.9); /* Darker version of accent color */
}

/* Results Container Styles */
.result-container {
  padding: 2rem;
}

/* Individual Movie Styles */
.movie {
  background-color: #b85885;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.movie img {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

/* Media Query for Larger Screens */
@media screen and (min-width: 768px) {
  .result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .movie {
    opacity: 0;
    transform: translateX(-50px);
    transition: transform 0.5s, opacity 0.5s;
  }

  /* Styles for the modal */
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .modal-content {
    background-color: rgb(118, 23, 196);
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .modal-footer {
    margin-top: 1rem;
  }

  /* Style for the "Fermer" button in the modal */
  .modal-close {
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .modal-close:hover {
    background-color: rgba(255, 69, 0, 0.9); /* Darker version of accent color */
  }
}
